* text=auto eol=lf working-tree-encoding=UTF-8

*.bat text eol=crlf working-tree-encoding=UTF-8
*.cmd text eol=crlf working-tree-encoding=UTF-8
*.ps1 text eol=crlf working-tree-encoding=UTF-8

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.zip binary
*.dll binary
*.lib binary
*.pdb binary
